<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Defectos inyectados y removidos por fase - BUG-MANAGER</title>
        <link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
        <script type="text/javascript" src="./js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="./js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="./js/localization/messages_es.js"></script>
        <script type="text/javascript" src="./js/FusionCharts.js"></script>
        <script type="text/javascript">
                function goToUrl(url)
                {
                   window.location = url;
                }
        </script>
        </head>
    <body>
        <div id="header">
            <img src="images/Login/bm-logo.png"  alt="BM logo" id="base-bmlogo"/>
            <div id="base-header-text">
				Hoy es $dateLong.format($date.systemDate)<br/>
				Bienvenido, ${user.fullName}<br/>
                <a href='userLogin.do?op=logout'>Salir</a>
            </div>
            <div id="base-menu-bar">
                <ul id="nav-bar">
                    <li><a href="listProjects.do">Proyectos</a></li>
                    <li><a href="listReports.do">Reportes</a></li>
                    #if($user.administrator)
                    <li><a href="listUsers.do">Usuarios</a></li>
                    #end
                    <li><a href="listTemplates.do">Plantillas</a></li>
                    <li><a href="listDefectTypes.do">Tipos de defectos</a></li>
                </ul>
            </div>
        </div>
        <div id="chart-content">
                <span id="DefectsInyectedRemoved">Inyected and Removed Defects by Phase Chart</span>

                    <script type="text/javascript">
                        var defectsInyectedRemovedChart = new FusionCharts( "Charts/MSColumn3D.swf",
                        "myChartId", "700", "400", "0", "1" );
                        defectsInyectedRemovedChart.setXMLData("$defectsInyectedRemovedXML");
                        defectsInyectedRemovedChart.setTransparent(true);
                        defectsInyectedRemovedChart.render("DefectsInyectedRemoved");
                    </script>            
        </div>
        <div id="text-content">
            <p>$text</p>
        </div>
        </body>
</html>