<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Ciclo de Vida - BUG MANAGER</title>
        <link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="CSS/redmond/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" />
        <script type="text/javascript" src="./js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="./js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="./js/localization/messages_es.js"></script>
	<script type="text/javascript" src="./js/jquery-ui-1.8.5.custom.min.js"></script>
	<script type="text/javascript" src="./js/localization/jquery.ui.datepicker-es.js"></script>
	<script type="text/javascript">
                function goToUrl(url)
                {
                        window.location = url;
                }

                function confirmErase(phaseId, projectId)
                {
                    if (confirm("¿Estás seguro que deseas borrar la fase?"))
                    {
                        window.location = "deletePhase.do?phaseID=" + phaseId + "&project_id=" + projectId;
                    }
                    else
                    {
                        return false;
                    }
                }

                $(document).ready(function(){
			$("#cycle-add-form").validate();
                        $("#phase-add-form").validate();
		});
                
        </script>
   </head>
   <body>
        <div id="header">
            <img src="images/Login/bm-logo.png"  alt="BM logo" id="base-bmlogo"/>
            <div id="base-header-text">
				Hoy es $dateLong.format($date.systemDate)<br/>
				Bienvenido, ${user.fullName}<br/>
                <a href='userLogin.do?op=logout'>Salir</a>
            </div>            
            <div id="base-menu-bar">
                <ul id="nav-bar">
                    <li><a href="listProjects.do">Proyectos</a></li>
                    <li><a href="listReports.do">Reportes</a></li>
                    #if($user.administrator)
                    <li><a href="listUsers.do">Usuarios</a></li>
                    #end
                    <li><a href="listTemplates.do">Plantillas</a></li>
                    <li><a href="listDefectTypes.do">Tipos de defectos</a></li>
                    #if($user.administrator)
                    <li><a href="listResources.do?project_id=$project_id">Recursos</a></li>
                    #end
                    #if($user.permissions>=20)
                    <li><a href="listPhases.do?project_id=$project_id">Fases</a></li>
                    #end
                    <li><a href="listTasks.do?project_id=$project_id">Tareas</a></li>
                    <li><a href="listDefects.do?project_id=$project_id">Defectos</a></li>
                </ul>
            </div>
        </div>
		<div id="content"> <!--AQUI METER TODOS LOS INPUT, LABELS etc-->
			<div id="content-header">
				<span class="breadcrumb-title">Estas viendo:</span>
				<span class="breadcrumb-text">El ciclo de vida del proyecto ${project.projectName}</span>
			</div>
                    
                    <div id="phase">
                        #if($project.projectNumberOfPhases == 0)
                        <table>
                        <tr>
                        <td>
                        #end
                        <form action="listPhases.do?project_id=${project_id}" method="POST" id="phase-add-form">
                            <h3 id="form-title">Agregar Fase</h3>
                            <table id="phase-add">
                                <tr>
                                    <td>
                                        <label for ="phaseName" id="phaseNameLabel">Nombre de la fase:</label>
                                    </td>
                                    <td>
                                        <input type="text" name="phaseName" id="phaseName" class="required" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for ="phaseType" id="phaseTypeLabel">Tipo:</label>
                                    </td>
                                    <td>
                                        <select name="phaseType" id="phaseType" class="required">
                                            #foreach($type in $phaseTypes)
                                            <option value="${type}">${type}</option>
                                            #end
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for ="phaseDescription" id="phaseDescriptionLabel">Descripci&oacute;n:</label>
                                    </td>
                                    <td>
                                        <textarea cols="30" rows="6" name="phaseDescription" id="phaseDescription" class="required"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for ="phaseOrder" id="phaseOrderLabel">Después de:</label>
                                    </td>
                                    <td>
                                        <select name="phaseOrder" id="phaseType">
                                            <option value="0" selected="selected"></option>
                                            #foreach($p in $phases)
                                            <option value="${p.projectOrder}">${p.phaseName}</option>
                                            #end
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="listPhases.do?project_id=${project_id}" id="cancel-link">Cancelar</a></td>
                                    <td>
                                        <input type="image" value="Aceptar" src="images/Base/aceptar.png" id="accept-button" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                    #if($project.projectNumberOfPhases == 0)
                    </td>
                            <td>
                                <form action="listPhases.do?project_id=${project_id}" method="POST" id="cycle-add-form">
                                    <h3 id="form-title">Ciclo de Vida Default</h3>
                                    <table id="cycle-add">
                                        <tr>
                                            <td>
                                                <label for ="cycleType" id="cycleTypeLabel">Tipo de ciclo de vida:</label>
                                            </td>
                                            <td>
                                                <select name="cycleType" id="cycleType">
                                                    <option value="1" selected="selected">Cascada</option>
                                                    <option value="2">Iterativo</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="listPhases.do?project_id=${project_id}" id="cancel-link">Cancelar</a></td>
                                            <td>
                                                <input type="image" value="Aceptar" src="images/Base/aceptar.png" id="accept-button" />
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                    </tr>
                    </table>
                    #end
                    </div>
                    <br>
                    <div>
			#if ($phases.empty)
                            <h3 id="form-title">No existen fases registradas para este proyecto.</h3>
			#else
                            <h3 id="form-title">Fases Actuales</h3>
                            <table id="content-table">
					<tr>
						<th>Fase</th>
                                                <th>Tipo</th>
						<th>Descripción</th>
						<th>Acción</th>
					</tr>
					#foreach($p in $phases)
					<tr>
                                            <td><a href="viewPhase.do?project_id=${project.projectId}&phase_id=${p.phaseID}">${p.phaseName}</a></td>
                                            <td>${p.phaseType}</td>
                                            <td>${p.phaseDesc}</td>
                                            #if($p.empty && $project.projectActualPhase != $p.phaseID)
                                            <td><a href="#" onclick="confirmErase(${p.phaseID}, ${project_id})">Borrar</a></td>
                                            #end
					</tr>
					#end
				</table>
			#end
			<div id="content-footer">
				<span class="breadcrumb-title">Estas viendo:</span>
				<span class="breadcrumb-text">El ciclo de vida del proyecto ${project.projectName}</span>
			</div>
                </div>
		</div>
    </body>
</html>