<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Reportes - BUG-MANAGER</title>
        <link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
        <script type="text/javascript" src="./js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="./js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="./js/localization/messages_es.js"></script>
        <script type="text/javascript">                
                function goToUrl(url)
                {
                   window.location = url;
                }

                $(document).ready(function(){

                   genReports = {"1":"Tiempo por fase","2":"Productividad por fase","3":"Yield por fase",
                   "4":"Resumen general"};
                   costReports = {"5":"Productividad Compuesta","6":"ROI de proyecto/empresa","7":"ROI de técnicas de detección",
                   "8":"COQ vs CNQ"};
                   tecReports = {"9":"Yield por técnica de detección","10":"Esfuerzo por técnica de detección",
                   "11":"Eficiencia por técnica de detección","12":"Razón de revisión por técnica de detección",
                   "13":"Número de defectos por técnica de detección"};
                   defectReports = {"14":"Densidad de defectos por usuario","15":"Número de defectos por tipo",
                   "16":"Defectos inyectados y removidos por fase"};

                   var permissions = "${user.permissions}";
                   if (permissions >= 20){
                        level = {"1":"Usuario","2":"Proyecto","3":"Empresa"};
                        level2 = {"2":"Proyecto","3":"Empresa"};
                   }
                   else {
                        level = {"1":"Usuario","2":"Proyecto"};
                        level2 = {"2":"Proyecto"};
                   }
                                      
                   $("#report").empty();
                   for (key in genReports){
                        $("#report").append('<option value="' + key + '">' + genReports[key] + '</option>');
                   }

                   $("#userLabel").hide();
                   $("#username").hide();                   
                   $("#levelLabel").hide();
                   $("#level").hide();
                   $("#levelLabel2").hide();
                   $("#level2").hide();

                   function validate(){
                       if ($("#report").val() == "14" || $("#report").val() == "5"){
                           
                       }
                       else if ($("#report").val() == "1" || $("#report").val() == "2" || $("#report").val() == "3"
                       || $("#report").val() == "4"){
                            if ($("#project_id").val() == ""){
                                alert("Es necesario escoger un proyecto.")
                                return false;
                            }
                       }    
                       else {
                           if ($("#level").val() == "1" && $("#username").val() == ""){
                               alert("Es necesario escoger un usuario.")
                               return false;
                           }
                           if ($("#level").val() == "2" && $("#project_id").val() == ""){
                               alert("Es necesario escoger un proyecto.")
                               return false;
                           }
                       }
                       return true;
                   };
                   
                   $("#config-report-form").submit(function() {
                       var validation = validate();
                       if (validation == false){
                           return false;
                       }
                       switch (this.report.value)
                       {                          
                          case "1":
                            $("#config-report-form").attr("action","./reportesGenerales.do");
                            break;
                          case "2":
                            $("#config-report-form").attr("action","./reportesGenerales.do");
                            break;
                          case "3":
                            $("#config-report-form").attr("action","./reportesGenerales.do");
                            break;
                          case "4":
                            $("#config-report-form").attr("action","./resumenGeneral.do");
                            break;                          
                          case "5":
                            $("#config-report-form").attr("action","./productividadCompuesta.do");
                            break;
                          case "6":
                            $("#config-report-form").attr("action","./roiProyecto.do");
                            break;
                          case "7":
                            $("#config-report-form").attr("action","./roiTecnicas.do");
                            break;
                          case "8":
                            $("#config-report-form").attr("action","./costoCalidad.do");
                            break;
                          case "9":
                            $("#config-report-form").attr("action","./tecnicasDeteccion.do");
                            break;
                          case "10":
                            $("#config-report-form").attr("action","./tecnicasDeteccion.do");
                            break;
                          case "11":
                            $("#config-report-form").attr("action","./tecnicasDeteccion.do");
                            break;
                          case "12":
                            $("#config-report-form").attr("action","./tecnicasDeteccion.do");
                            break;
                          case "13":
                            $("#config-report-form").attr("action","./tecnicasDeteccion.do");
                            break;
                          case "14":
                            $("#config-report-form").attr("action","./densidadDefectosUsuario.do");
                            break;
                          case "15":
                            $("#config-report-form").attr("action","./totalDefectosTipo.do");
                            break;
                          case "16":
                            $("#config-report-form").attr("action","./defectosInyectadosRemovidos.do");
                            break;
                          default:
                            alert("Reporte no dado de alta, seleccione uno diferente");
                            return false;
                       }
                       return true;
                    });                    
                    $("#category").change(function() {                                                                        
                        $("#userLabel").hide("fast");
                        $("#username").hide("fast");
                        $("#username").val("");
                        $("#username").attr("disabled", "true");
                        $("#projectLabel").hide("fast");
                        $("#project_id").hide("fast");
                        $("#project_id").val("");
                        $("#project_id").attr("disabled", "true");
                        $("#levelLabel").hide("fast");
                        $("#level").hide("fast");
                        $("#level").val("");
                        $("#level").attr("disabled", "true");
                        if(this.value == "1"){
                            $("#report").empty();
                            for (key in genReports){
                                $("#report").append('<option value="' + key + '">' + genReports[key] + '</option>');
                            }
                        }
                        else if (this.value == "2"){
                            $("#report").empty();
                            for (key in costReports){
                                $("#report").append('<option value="' + key + '">' + costReports[key] + '</option>');
                            }
                        }
                        else if (this.value == "3"){
                            $("#report").empty();
                            for (key in tecReports){
                                $("#report").append('<option value="' + key + '">' + tecReports[key] + '</option>');
                            }
                        }
                        else {
                            $("#report").empty();
                            for (key in defectReports){
                                $("#report").append('<option value="' + key + '">' + defectReports[key] + '</option>');
                            }
                        }
                        if($("#report").val() == "1" || $("#report").val() == "2" ||
                           $("#report").val() == "3" || $("#report").val() == "4"){

                            $("#userLabel").hide("fast");
                            $("#username").hide("fast");
                            $("#username").val("");
                            $("#username").attr("disabled", "true");
                            $("#projectLabel").show("fast");
                            $("#project_id").show("fast");
                            $("#project_id").removeAttr("disabled");
                            $("#levelLabel").hide("fast");
                            $("#level").hide("fast");
                            $("#level").val("");
                            $("#level").attr("disabled", "true");
                            $("#levelLabel2").hide("fast");
                            $("#level2").hide("fast");
                            $("#level2").val("");
                            $("#level2").attr("disabled", "true");
                        }
                        else if ($("#report").val() == "5"){
                            $("#userLabel").hide("fast");
                            $("#username").hide("fast");
                            $("#username").val("");
                            $("#username").attr("disabled", "true");
                            $("#projectLabel").hide("fast");
                            $("#project_id").hide("fast");
                            $("#project_id").val("");
                            $("#project_id").attr("disabled", "true");
                            $("#levelLabel").hide("fast");
                            $("#level").hide("fast");
                            $("#level").val("");
                            $("#level").attr("disabled", "true");
                            $("#levelLabel2").show("fast");
                            $("#level2").show("fast");
                            $("#level2").removeAttr("disabled");
                        }
                        else if ($("#report").val() == "14"){
                            $("#userLabel").hide("fast");
                            $("#username").hide("fast");
                            $("#username").val("");
                            $("#username").attr("disabled", "true");
                            $("#projectLabel").hide("fast");
                            $("#project_id").hide("fast");
                            $("#project_id").val("");
                            $("#project_id").attr("disabled", "true");
                            $("#levelLabel").hide("fast");
                            $("#level").hide("fast");
                            $("#level").val("");
                            $("#level").attr("disabled", "true");
                            $("#levelLabel2").hide("fast");
                            $("#level2").hide("fast");
                            $("#level2").val("");
                            $("#level2").attr("disabled", "true");
                        }
                        else if ( $("#report").val() == "15" || $("#report").val() == "16") {
                            $("#level").empty();
                            for (key in level){
                                $("#level").append('<option value="' + key + '">' + level[key] + '</option>');
                            }
                            $("#userLabel").hide("fast");
                            $("#username").hide("fast");
                            $("#username").val("");
                            $("#username").attr("disabled", "true");
                            $("#projectLabel").hide("fast");
                            $("#project_id").hide("fast");
                            $("#project_id").val("");
                            $("#project_id").attr("disabled", "true");
                            $("#levelLabel").show("fast");
                            $("#level").show("fast");
                            $("#level").removeAttr("disabled");
                            $("#levelLabel2").hide("fast");
                            $("#level2").hide("fast");
                            $("#level2").val("");
                            $("#level2").attr("disabled", "true");

                            if ($("#level").val() == "1"){
                                $("#projectLabel").hide("fast");
                                $("#project_id").hide("fast");
                                $("#project_id").val("");
                                $("#project_id").attr("disabled", "true");
                                $("#userLabel").show("fast");
                                $("#username").show("fast");
                                $("#username").removeAttr("disabled");
                            }
                            else if ($("#level").val() == "2"){
                                $("#userLabel").hide("fast");
                                $("#username").hide("fast");
                                $("#username").val("");
                                $("#username").attr("disabled", "true");
                                $("#projectLabel").show("fast");
                                $("#project_id").show("fast");
                                $("#project_id").removeAttr("disabled");
                            }
                            else{
                                $("#projectLabel").hide("fast");
                                $("#project_id").hide("fast");
                                $("#project_id").val("");
                                $("#project_id").attr("disabled", "true");
                                $("#userLabel").hide("fast");
                                $("#username").hide("fast");
                                $("#username").val("");
                                $("#username").attr("disabled", "true");
                            }
                        }
                        else if ($("#report").val() == "6" || $("#report").val() == "9" || $("#report").val() == "10"
                        || $("#report").val() == "11" || $("#report").val() == "12" || $("#report").val() == "13"
                        || $("#report").val() == "7" || $("#report").val() == "8") {
                            $("#level").empty();
                            for (key in level2){
                                $("#level").append('<option value="' + key + '">' + level2[key] + '</option>');
                            }
                            $("#userLabel").hide("fast");
                            $("#username").hide("fast");
                            $("#username").val("");
                            $("#username").attr("disabled", "true");
                            $("#projectLabel").hide("fast");
                            $("#project_id").hide("fast");
                            $("#project_id").val("");
                            $("#project_id").attr("disabled", "true");
                            $("#levelLabel").show("fast");
                            $("#level").show("fast");
                            $("#level").removeAttr("disabled");
                            $("#levelLabel2").hide("fast");
                            $("#level2").hide("fast");
                            $("#level2").val("");
                            $("#level2").attr("disabled", "true");

                            if ($("#level").val() == "1"){
                                $("#projectLabel").hide("fast");
                                $("#project_id").hide("fast");
                                $("#project_id").val("");
                                $("#project_id").attr("disabled", "true");
                                $("#userLabel").show("fast");
                                $("#username").show("fast");
                                $("#username").removeAttr("disabled");
                            }
                            else if ($("#level").val() == "2"){
                                $("#userLabel").hide("fast");
                                $("#username").hide("fast");
                                $("#username").val("");
                                $("#username").attr("disabled", "true");
                                $("#projectLabel").show("fast");
                                $("#project_id").show("fast");
                                $("#project_id").removeAttr("disabled");
                            }
                            else{
                                $("#projectLabel").hide("fast");
                                $("#project_id").hide("fast");
                                $("#project_id").val("");
                                $("#project_id").attr("disabled", "true");
                                $("#userLabel").hide("fast");
                                $("#username").hide("fast");
                                $("#username").val("");
                                $("#username").attr("disabled", "true");
                            }
                        }
                    });
                    $("#report").change(function() {
                        if(this.value == "1" || this.value == "2" || this.value == "3" || this.value == "4"){
                            $("#userLabel").hide("fast");
                            $("#username").hide("fast");
                            $("#username").val("");
                            $("#username").attr("disabled", "true");
                            $("#projectLabel").show("fast");
                            $("#project_id").show("fast");
                            $("#project_id").removeAttr("disabled");
                            $("#levelLabel").hide("fast");
                            $("#level").hide("fast");
                            $("#level").val("");
                            $("#level").attr("disabled", "true");
                            $("#levelLabel2").hide("fast");
                            $("#level2").hide("fast");
                            $("#level2").val("");
                            $("#level2").attr("disabled", "true");
                        }
                        else if (this.value == "5"){
                            $("#userLabel").hide("fast");
                            $("#username").hide("fast");
                            $("#username").val("");
                            $("#username").attr("disabled", "true");
                            $("#projectLabel").hide("fast");
                            $("#project_id").hide("fast");
                            $("#project_id").val("");
                            $("#project_id").attr("disabled", "true");
                            $("#levelLabel").hide("fast");
                            $("#level").hide("fast");
                            $("#level").val("");
                            $("#level").attr("disabled", "true");
                            $("#levelLabel2").show("fast");
                            $("#level2").show("fast");
                            $("#level2").removeAttr("disabled");
                        }
                        else if (this.value == "14"){
                            $("#userLabel").hide("fast");
                            $("#username").hide("fast");
                            $("#username").val("");
                            $("#username").attr("disabled", "true");
                            $("#projectLabel").hide("fast");
                            $("#project_id").hide("fast");
                            $("#project_id").val("");
                            $("#project_id").attr("disabled", "true");
                            $("#levelLabel").hide("fast");
                            $("#level").hide("fast");
                            $("#level").val("");
                            $("#level").attr("disabled", "true");
                            $("#levelLabel2").hide("fast");
                            $("#level2").hide("fast");
                            $("#level2").val("");
                            $("#level2").attr("disabled", "true");
                        }
                        else if (this.value == "15" || this.value == "16") {
                            $("#level").empty();
                            for (key in level){
                                $("#level").append('<option value="' + key + '">' + level[key] + '</option>');
                            }
                            $("#userLabel").hide("fast");
                            $("#username").hide("fast");
                            $("#username").val("");
                            $("#username").attr("disabled", "true");
                            $("#projectLabel").hide("fast");
                            $("#project_id").hide("fast");
                            $("#project_id").val("");
                            $("#project_id").attr("disabled", "true");
                            $("#levelLabel").show("fast");
                            $("#level").show("fast");
                            $("#level").removeAttr("disabled");
                            $("#levelLabel2").hide("fast");
                            $("#level2").hide("fast");
                            $("#level2").val("");
                            $("#level2").attr("disabled", "true");

                            if ($("#level").val() == "1"){
                                $("#projectLabel").hide("fast");
                                $("#project_id").hide("fast");
                                $("#project_id").val("");
                                $("#project_id").attr("disabled", "true");
                                $("#userLabel").show("fast");
                                $("#username").show("fast");
                                $("#username").removeAttr("disabled");
                            }
                            else if ($("#level").val() == "2"){
                                $("#userLabel").hide("fast");
                                $("#username").hide("fast");
                                $("#username").val("");
                                $("#username").attr("disabled", "true");
                                $("#projectLabel").show("fast");
                                $("#project_id").show("fast");
                                $("#project_id").removeAttr("disabled");
                            }
                            else{
                                $("#projectLabel").hide("fast");
                                $("#project_id").hide("fast");
                                $("#project_id").val("");
                                $("#project_id").attr("disabled", "true");
                                $("#userLabel").hide("fast");
                                $("#username").hide("fast");
                                $("#username").val("");
                                $("#username").attr("disabled", "true");
                            }
                        }
                        else if (this.value == "6" || this.value == "9" || this.value == "10"
                        || this.value == "11" || this.value == "12" || this.value == "13"
                        || this.value == "7" || this.value == "8") {
                            $("#level").empty();
                            for (key in level2){
                                $("#level").append('<option value="' + key + '">' + level2[key] + '</option>');
                            }
                            $("#userLabel").hide("fast");
                            $("#username").hide("fast");
                            $("#username").val("");
                            $("#username").attr("disabled", "true");
                            $("#projectLabel").hide("fast");
                            $("#project_id").hide("fast");
                            $("#project_id").val("");
                            $("#project_id").attr("disabled", "true");
                            $("#levelLabel").show("fast");
                            $("#level").show("fast");
                            $("#level").removeAttr("disabled");
                            $("#levelLabel2").hide("fast");
                            $("#level2").hide("fast");
                            $("#level2").val("");
                            $("#level2").attr("disabled", "true");

                            if ($("#level").val() == "1"){
                                $("#projectLabel").hide("fast");
                                $("#project_id").hide("fast");
                                $("#project_id").val("");
                                $("#project_id").attr("disabled", "true");
                                $("#userLabel").show("fast");
                                $("#username").show("fast");
                                $("#username").removeAttr("disabled");
                            }
                            else if ($("#level").val() == "2"){
                                $("#userLabel").hide("fast");
                                $("#username").hide("fast");
                                $("#username").val("");
                                $("#username").attr("disabled", "true");
                                $("#projectLabel").show("fast");
                                $("#project_id").show("fast");
                                $("#project_id").removeAttr("disabled");
                            }
                            else{
                                $("#projectLabel").hide("fast");
                                $("#project_id").hide("fast");
                                $("#project_id").val("");
                                $("#project_id").attr("disabled", "true");
                                $("#userLabel").hide("fast");
                                $("#username").hide("fast");
                                $("#username").val("");
                                $("#username").attr("disabled", "true");
                            }
                        }                        
                    });
                    $("#level").change(function() {
                       if (this.value == "1"){
                           $("#projectLabel").hide("fast");
                           $("#project_id").hide("fast");
                           $("#project_id").val("");
                           $("#project_id").attr("disabled", "true");
                           $("#userLabel").show("fast");
                           $("#username").show("fast");
                           $("#username").removeAttr("disabled");
                       }
                       else if (this.value == "2"){
                           $("#userLabel").hide("fast");
                           $("#username").hide("fast");
                           $("#username").val("");
                           $("#username").attr("disabled", "true");
                           $("#projectLabel").show("fast");
                           $("#project_id").show("fast");
                           $("#project_id").removeAttr("disabled");
                       }
                       else{
                           $("#projectLabel").hide("fast");
                           $("#project_id").hide("fast");
                           $("#project_id").val("");
                           $("#project_id").attr("disabled", "true");
                           $("#userLabel").hide("fast");
                           $("#username").hide("fast");
                           $("#username").val("");
                           $("#username").attr("disabled", "true");
                       }
                    });
                 });
        </script>
    </head>
    <body>
        <div id="header">
            <img src="images/Login/bm-logo.png"  alt="BM logo" id="base-bmlogo"/>
            <div id="base-header-text">
				Hoy es $dateLong.format($date.systemDate)<br/>
				Bienvenido, ${user.fullName}<br/>
                <a href='userLogin.do?op=logout'>Salir</a>
            </div>
            <div id="base-menu-bar">
                <ul id="nav-bar">
                    <li><a href="listProjects.do">Proyectos</a></li>
                    <li><a href="listReports.do">Reportes</a></li>
                    #if($user.administrator)
                    <li><a href="listUsers.do">Usuarios</a></li>
                    #end
                    <li><a href="listTemplates.do">Plantillas</a></li>
                    <li><a href="listDefectTypes.do">Tipos de defectos</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="content-header">
                <span class="breadcrumb-title">Estas viendo:</span>
                <span class="breadcrumb-text">Todos los reportes</span>

                <form action="#" method="POST" id="config-report-form">
                    <h3 id="form-title">Reportes y Estadísticas</h3>
                    <table id="user-modify">
                        <tr>
                            <td>
                                <label for="category" id="categoryLabel">Categoría:</label>
                            </td>
                            <td>
                                <select name="category" id="category">
                                    <option value="1">Generales</option>
                                    <option value="2">Costo de la Calidad</option>
                                    <option value="3">Técnicas de Detección de Defectos</option>
                                    <option value="4">Caracterización de Defectos</option>
                                </select>
                            </td>
                        </tr>                        
                        <tr>
                            <td>
                                <label for="report" id="reportLabel">Reporte:</label>
                            </td>
                            <td>
                                <select name="report" id="report">
                                    <option value=""> --- </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="level" id="levelLabel">Nivel:</label>
                            </td>
                            <td>
                                <select name="level" id="level">
                                    <option value=""> --- </option>
                                    #if($user.permissions>=20)
                                    <option value="3">Empresa</option>
                                    #end
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="level2" id="levelLabel2">Nivel:</label>
                            </td>
                            <td>
                                <select name="level2" id="level2">
                                    <option value="1">Usuario</option>
                                    <option value="2">Proyecto</option>
                                    #if($user.permissions>=20)
                                    <option value="3">Empresa</option>
                                    #end
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="project_id" id="projectLabel">Proyecto:</label>
                            </td>
                            <td>
                                <select name="project_id" id="project_id">
                                    <option value=""> --- </option>
                                    #foreach($p in $projects)
                                        <option value="${p.projectId}">${p.projectName}</option>
                                    #end
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="username" id="userLabel">Usuario:</label>
                            </td>
                            <td>
                                <select name="username" id="username">
                                    <option value=""> --- </option>
                                    #if($user.permissions>=20)
                                        #foreach($u in $users)
                                            <option value="${u.userName}">${u.fullName}</option>
                                        #end
                                    #else
                                        <option value="${user.userName}">${user.fullName}</option>
                                    #end
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="image" value="Generar" src="images/Base/generar.png" id="generate-button" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div id="content-footer">
                <span class="breadcrumb-title">Estas viendo:</span>
                <span class="breadcrumb-text">Todos los proyectos</span>
            </div>
        </div>
    </body>
</html>