<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Tipos de Defectos - BUG MANAGER</title>
		<link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
		<script>
			function goToUrl(url)
			{
				window.location = url;
			}
			
			function confirmDeleteDefectType(defectTypeID)
			{
				if (confirm("Estás seguro de borrar el tipo de defecto " + defectTypeID +"?"))
				{
					goToUrl("deleteDefectType.do?defectTypeId="+defectTypeID);
				}
			}
		</script>
    </head>
	<body>
		<div id="header">
			<img src="images/Login/bm-logo.png"  alt="BM logo" id="base-bmlogo"/>
			<div id="base-header-text">
				Hoy es $dateLong.format($date.systemDate)<br/>
				Bienvenido, ${user.fullName}<br/>
				<a href='userLogin.do?op=logout'>Salir</a>
			</div>
			<div id="base-menu">
				<div id="base-menu-bar">
					<img src="images/Base/Menu1.png" id="base-menu-left" />
					<div id="base-menu-center">
						<ul>
							<li class='Proyectos' onclick="goToUrl('listProjects.do')" >
							</li>
                                                        <li class='Reportes' onclick="goToUrl('listReports.do')" >
                                                        </li>
                                                    #if($user.administrator)
							<li class='UsuariosVisitando' onclick="goToUrl('listUsers.do')" >
							</li>
                                                    #end
                                                        <li onclick="goToUrl('listTemplates.do')">Plantillas</li>
                                                        <li onclick="goToUrl('listDefectTypes.do')">Tipos de defecto</li>
						</ul>
					</div>
					<img src="images/Base/Menu3.png" id="base-menu-right" />
				</div>
			</div>
		</div>
		<div id="content"> 
			<div id="content-header">
				<span class="breadcrumb-title">Estas viendo:</span>
				<span class="breadcrumb-text">Todos los Tipos de Defectos</span>

				<a href="newDefectType.do" id="add-icon-link">
					<img src="images/Base/agregar.png" id="add-icon-img" />
				</a>
			</div>
			#if ($defectTypes.empty)
				<h3 id="form-title">No existen tipos de defectos registrados.</h3>
			#else
				<table id="content-table">
					<tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th></th>
					</tr>
					#foreach($dt in $defectTypes)
					<tr>
                                            <td><a href="modifyDefectType.do?defectTypeID=${dt.ID}">${dt.Name}</a></td>
                                            <td>${dt.Description}</td>
                                            <td>
                                            #if($dt.isEmpty)
                                            <a href="#" onclick="confirmDeleteDefectType(${dt.ID});">Borrar</a>
                                            #end
                                            </td>
					</tr>
					#end
				</table>
			#end
			<div id="content-footer">
				<span class="breadcrumb-title">Estas viendo:</span>
				<span class="breadcrumb-text">Todos los Tipos de Defectos</span>

				<a href="newDefectType.do" id="add-icon-link">
					<img src="images/Base/agregar.png" id="add-icon-img" />
				</a>
                                
			</div>
		</div>
    </body>
</html>