<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Defectos - BUG MANAGER</title>
        <link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
        <script>
                function goToUrl(url)
                {
                        window.location = url;
                }

                function confirmErase(defectID)
                {
                    if (confirm("¿Estás seguro que deseas borrar el defecto?"))
                    {
                        window.location = "deleteDefect.do?defectID=" + defectID;
                    }
                    else
                    {
                        return false;
                    }
                }
        </script>
    </head>
    <body>
        <div id="header">
            <img src="images/Login/bm-logo.png"  alt="BM logo" id="base-bmlogo"/>
            <div id="base-header-text">
				Hoy es $dateLong.format($date.systemDate)<br/>
				Bienvenido, ${user.fullName}<br/>
                <a href='userLogin.do?op=logout'>Salir</a>
            </div>
            <div id="base-menu">
                <div id="base-menu-bar">
                    <img src="images/Base/Menu1.png" id="base-menu-left" />
                    <div id="base-menu-center">
                        <ul>
                            <li class='ProyectosVisitando' onclick="goToUrl('listProjects.do')" >
                            </li>
                            <li class='Reportes' onclick="goToUrl('listReports.do')" >
                            </li>
                            #if($user.administrator)
                            <li class='Usuarios' onclick="goToUrl('listUsers.do')" >
                            </li>
                            #end
                            <li onclick="goToUrl('listTemplates.do')">Plantillas</li>
                            <li onclick="goToUrl('listDefectTypes.do')">Tipos de defecto</li>
                            #if($user.administrator)
                            <li onclick="goToUrl('listResources.do?project_id='+$project_id)">Recursos</li>
                            #end
                            #if($user.permissions>=20)
                            <li onclick="goToUrl('listPhases.do?project_id='+$project_id)">Fases</li>
                            #end
                        </ul>
                    </div>
                    <img src="images/Base/Menu3.png" id="base-menu-right" />
                </div>
            </div>
        </div>
		<div id="content"> <!--AQUI METER TODOS LOS INPUT, LABELS etc-->
			<div id="content-header">
				<span class="breadcrumb-title">Estas viendo:</span>
				<span class="breadcrumb-text">${project.projectName} > Todas los defectos</span>
				#if($project.projectActualPhase > 0)
                                <a href="newDefect.do?project_id=${project.projectId}" id="add-icon-link">
					<img src="images/Base/agregar.png" id="add-icon-img" />
				</a>
                                <br/>
                                #end
                                <a href="newDefectType.do" id="add-icon-link">
				Agregar Tipo de Defecto
				</a>
			</div>
			#if ($defects.empty)
				<h3 id="form-title">No existen defectos registrados para este proyecto.</h3>
			#else
				<table id="content-table">
					<tr>
						<th>Defecto</th>
						<th>Fase de Detección</th>
						<th>Actividad de Detección</th>
						<th>Estatus</th>
						<th>Fecha Detección</th>
						#if($user.administrator)
						<th>Acciones</th>
						#end
					</tr>
					#foreach($d in $defects)
					<tr>
                                            <td><a href="viewDefect.do?project_id=${project.projectId}&defect_id=${d.defectID}">${d.defectName}</a></td>
                                            <td>${d.detectionPhase.phaseName}</td>
                                            <td>${d.detectionTask.taskName}</td>
                                            #if($d.defectState == "SUBMITTED")
                                            <td>ENVIADO</td>
                                            #elseif($d.defectState == "ACCEPTED")
                                            <td>ACEPTADO</td>
                                            #elseif($d.defectState == "FIXED")
                                            <td>CORREGIDO</td>
                                            #elseif($d.defectState == "CANCELED")
                                            <td>CANCELADO</td>
                                            #end
                                            <td>${d.openDate}</td>
                                            #if($user.administrator && $d.defectState == "SUBMITTED")
                                            <td><a href="#" onclick="confirmErase(${d.defectID})">Borrar</a></td>
                                            #end
                                        </tr>
					#end
				</table>
			#end
			<div id="content-footer">
				<span class="breadcrumb-title">Estas viendo:</span>
				<span class="breadcrumb-text">${project.projectName} > Todas los defectos</span>
				#if($user.administrator)
                                #if($project.projectActualPhase > 0)
				<a href="newDefect.do?project_id=${project.projectId}" id="add-icon-link">
					<img src="images/Base/agregar.png" id="add-icon-img" />
				</a>
                                <br/>
                                #end
                                <a href="newDefectType.do" id="add-icon-link">
				Agregar Tipo de Defecto
				</a>
				#end
			</div>
		</div>
    </body>
</html>