<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Listas de Chequeo - BUG MANAGER</title>
        <link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
        <script>
                function goToUrl(url)
                {
                        window.location = url;
                }

                function confirmErase(templateId, userName)
                {
                    if (confirm("¿Estás seguro que deseas borrar la plantilla?"))
                    {
                        window.location = "deleteTemplate.do?templateId=" + templateId;
                    }
                    else
                    {
                        return false;
                    }
                }
        </script>
    </head>
    <body>
        <div id="header">
            <img src="images/Login/bm-logo.png"  alt="BM logo" id="base-bmlogo"/>
            <div id="base-header-text">
				Hoy es $dateLong.format($date.systemDate)<br/>
				Bienvenido, ${user.fullName}<br/>
                <a href='userLogin.do?op=logout'>Salir</a>
            </div>
            <div id="base-menu-bar">
                <ul id="nav-bar">
                    <li><a href="listProjects.do">Proyectos</a></li>
                    <li><a href="listReports.do">Reportes</a></li>
                    #if($user.administrator)
                    <li><a href="listUsers.do">Usuarios</a></li>
                    #end
                    <li><a href="listTemplates.do">Plantillas</a></li>
                    <li><a href="listDefectTypes.do">Tipos de defectos</a></li>
                </ul>
            </div>
        </div>
		<div id="content"> <!--AQUI METER TODOS LOS INPUT, LABELS etc-->
			<div id="content-header">
				<span class="breadcrumb-title">Estas viendo:</span>
                                <span class="breadcrumb-text">Todas las plantillas</span>
				<a href="newTemplate.do" id="add-icon-link">
					<img src="images/Base/agregar.png" id="add-icon-img" />
				</a>
			</div>
			#if ($templates.empty)
				<h3 id="form-title">No existen plantillas registradas.</h3>
			#else
				<table id="content-table">
					<tr>
						<th>Plantilla</th>
						<th>Descripcion</th>
						<th>Tipo de Revision</th>
                                                #if(!$t.templatePublic && $t.assignedUser == $user.userName)
                                                <th>Acción</th>
                                                #end
					</tr>
					#foreach($t in $templates)
					<tr>
						<td><a href="modifyTemplate.do?templateId=${t.templateId}">${t.templateName}</a></td>
						<td>${t.templateDescription}</td>
						<td>${t.templateReviewType}</td>
						#if(!$t.templatePublic && $t.assignedUser == $user.userName)
						<td><a href="#" onclick="confirmErase('${t.templateId}');">Borrar</a></td>
						#end
					</tr>
					#end
				</table>
			#end
			<div id="content-footer">
				<a href="newTemplate.do?" id="add-icon-link">
					<img src="images/Base/agregar.png" id="add-icon-img" />
				</a>
			</div>
		</div>
    </body>
</html>