<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Modificar Proyecto - BUG MANAGER</title>
		<link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="CSS/redmond/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" />
		<script type="text/javascript" src="./js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="./js/jquery.validate.min.js"></script>
		<script type="text/javascript" src="./js/localization/messages_es.js"></script>
		<script type="text/javascript" src="./js/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript" src="./js/localization/jquery.ui.datepicker-es.js"></script>
		<script>
			function goToUrl(url)
			{
				window.location = url;
			}
			
			$(document).ready(function(){
				$("#project-modify-form").validate();
			});
			
			$(function() {
				$(".hasDatePicker").datepicker({ dateFormat: 'dd-mm-yy' });
			});
		</script>
    </head>
	<body>
		<div id="header">
			<img src="images/Login/bm-logo.png"  alt="BM logo" id="base-bmlogo"/>
			<div id="base-header-text">
				Hoy es $dateLong.format($date.systemDate)<br/>
				Bienvenido, ${user.fullName}<br/>
				<a href='userLogin.do?op=logout'>Salir</a>
			</div>
			<div id="base-menu">
				<div id="base-menu-bar">
					<img src="images/Base/Menu1.png" id="base-menu-left" />
					<div id="base-menu-center">
						<ul>
							<li class='ProyectosVisitando' onclick="goToUrl('listProjects.do')" >
							</li>
                                                        <li class='Reportes' onclick="goToUrl('listReports.do')" >
                                                        </li>
							#if($user.administrator)
							<li class='Usuarios' onclick="goToUrl('listUsers.do')" >
							</li>
							#end
						</ul>
					</div>
					<img src="images/Base/Menu3.png" id="base-menu-right" />
				</div>
			</div>
		</div>            
		<div id="content"> <!--AQUI METER TODOS LOS INPUT, LABELS etc-->
			<div id="project">
				<form action="modifyProject.do" method="POST" id="project-modify-form">
					<h3 id="form-title">Modificar Proyecto</h3>
					<table id="project-add">
						<tr>
							<td>
								<label for ="projectName" id="projectName">Nombre:</label>
							</td>

							<td>
								<input type="text" name="projectName" value="${p.projectName}" class="required"/>

							</td>
						</tr>

						<tr>
							<td>
								<label for ="projectDescription" id="projectDescription">Descripci&oacute;n:</label>
							</td>
							<td>
								<textarea cols="30" rows="6" name="projectDescription" class="required">${p.projectDescription}</textarea>
							</td>
						</tr>

						<tr>
							<td>
								<label for ="projectDueDate" id="projectDueDate">Fecha de entrega:</label>
							</td>
							<td>
								<input type="text" name="projectDueDate" value="${dateShort.format($p.projectDueDate)}" id="DueDate" class="required hasDatePicker" />
							</td>
						</tr>

						<tr>
							<td>
								<label for ="projectPlannedDate" id="projectPlannedDate">Fecha planeada:</label>
							</td>
							<td>
								<input type="text" name="projectPlannedDate" value="${dateShort.format($p.projectPlannedDate)}" id="PlannedDate" class="required hasDatePicker" />
							</td>
						</tr>
                                                <tr>
                                                    <td>
                                                        <label for ="actualPhase" id="actualPhaseLabel">Fase Actual:</label>
                                                    </td>
                                                    <td>
                                                        <select name="actualPhase" id="actualPhase" class="required">
                                                            #if($actualOrder == 0)
                                                                <option value="0" selected="selected"></option>
                                                            #end
                                                            #foreach($phase in $phases)
                                                                #if($phase.phaseID == $p.projectActualPhase)
                                                                <option value="${phase.phaseID}" selected="selected">${phase.phaseName}</option>
                                                                #end
                                                                #if($phase.projectOrder >= $actualOrder)
                                                                <option value="${phase.phaseID}">${phase.phaseName}</option>
                                                                #end
                                                            #end
                                                        </select>
                                                    </td>
                                                </tr>
						<tr>
							<td><a href="listProjects.do" id="cancel-link">Cancelar</a></td>
							<td>
								<input type="hidden" name="projectId" value="${p.projectId}"></input>
								<input type="image" value="Aceptar" src="images/Base/aceptar.png" id="accept-button" />
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
    </body>
</html>