<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Modificar contraseña - BUG MANAGER</title>
		<link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
		<script type="text/javascript" src="./js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="./js/jquery.validate.min.js"></script>
		<script type="text/javascript" src="./js/localization/messages_es.js"></script>
		<script>
			function goToUrl(url)
			{
				window.location = url;
			}
			
			$(document).ready(function(){
				$("#user-modify-password-form").validate({
				  rules: {
					password2: {
					  equalTo: "#password"
					}
				  }
				});
			});
		</script>
    </head>
	<body>
		<div id="header">
			<img src="images/Login/bm-logo.png"  alt="BM logo" id="base-bmlogo"/>
			<div id="base-header-text">
				Hoy es $dateLong.format($date.systemDate)<br/>
				Bienvenido, ${user.fullName}<br/>
				<a href='userLogin.do?op=logout'>Salir</a>
			</div>
			<div id="base-menu-bar">
                            <ul id="nav-bar">
                                <li><a href="listProjects.do">Proyectos</a></li>
                                <li><a href="listReports.do">Reportes</a></li>
                                #if($user.administrator)
                                <li><a href="listUsers.do">Usuarios</a></li>
                                #end
                                <li><a href="listTemplates.do">Plantillas</a></li>
                                <li><a href="listDefectTypes.do">Tipos de defectos</a></li>
                            </ul>
                        </div>
		</div>
		<div id="content"> <!--AQUI METER TODOS LOS INPUT, LABELS etc-->
			<div id="user">
				<form action="modifyUserPassword.do" method="POST" id="user-modify-password-form">
					<h3 id="form-title">Modificar Password de Usuario</h3>
					<table id="user-modify">
						<tr>
							<td>
								<label for ="userName" id="userNameLabel">Nombre de Usuario:</label>
							</td>
							<td>
								<span>${u.userName}</span>
								<input type="hidden" value="${u.userName}" name="userName" id="userName"  />
							</td>
						</tr>
						<tr>
							<td>
								<label for ="password" id="passwordLabel">Contraseña:</label>
							</td>
							<td>
								<input type="password" name="password" id="password" class="required" />
							</td>
						</tr>
						<tr>
							<td>
								<label for ="password2" id="password2Label">Re-ingrese contraseña:</label>
							</td>
							<td>
								<input type="password" name="password2" id="password2" class="required" />
							</td>
						</tr>
						<tr>
							<td><a href="listUsers.do" id="cancel-link">Cancelar</a></td>
							<td>
								<input type="image" value="Aceptar" src="images/Base/aceptar.png" id="accept-button" />
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
    </body>
</html>