<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#* ***************************************************************************
 *   Copyright (c) 2010 BIPOLAR
 *   Confidential and Proprietary
 *   All Rights Reserved
 *
 * @(#)$Id: newPassword.vm 197 2010-10-09 20:07:05Z alex.vc@gmail.com $
 * Last Revised By   : $Author: alex.vc@gmail.com $
 * Last Checked In   : $Date: 2010-10-09 15:07:05 -0500 (Sat, 09 Oct 2010) $
 * Last Version      : $Revision: 197 $
 *
 * Original Author   : Alejandro Vazquez
 * Notes             :
 * ***************************************************************************
*#<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Password Recovery - All In Time System</title>
        <link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
    </head>
    <body>
        <div id="header">
            <img src="images/Login/bm-logo.png"  alt="BM logo" id="login-bmlogo"/>
        </div>
        <div id="page">
            <div id="content"> <!--AQUI METER TODOS LOS INPUT, LABELS etc-->
                <div>Tu solicitud de cambio de contraseña ha sido un éxito. En
                    breve te llegará un correo electrónico con tu nueva
                    contraseña.</div>
            </div>
        </div>
    </body>
</html>