<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#* ***************************************************************************
 *   Copyright (c) 2010 BIPOLAR
 *   Confidential and Proprietary
 *   All Rights Reserved
 *
 * @(#)$Id: requestNewPassword.vm 353 2010-11-18 06:31:33Z jpabluz@gmail.com $
 * Last Revised By   : $Author: jpabluz@gmail.com $
 * Last Checked In   : $Date: 2010-11-18 00:31:33 -0600 (Thu, 18 Nov 2010) $
 * Last Version      : $Revision: 353 $
 *
 * Original Author   : Alejandro Vazquez
 * Notes             :
 * ***************************************************************************
*#<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Recuperar contraseña - All In Time System</title>
        <link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
		<script type="text/javascript" src="./js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="./js/jquery.validate.min.js"></script>
		<script type="text/javascript" src="./js/localization/messages_es.js"></script>
		<script>
			$(document).ready(function(){
				$("#request-new-password-form").validate();
			});
		</script>
    </head>
    <body>
        <div id="header">
            <img src="images/Login/bm-logo.png"  alt="BM logo" id="login-bmlogo"/>
        </div>
        <div id="page">
            <div id="content"> <!--AQUI METER TODOS LOS INPUT, LABELS etc-->
                <form action="requestNewPassword.do" method="POST" id="request-new-password-form">
					<h3 id="form-title">Indica tu correo electrónico el cual tengas registrado en tu cuenta</h3>
                    <table border="0" cellpadding="5" cellspacing="0">
                        <tr>
                            <td><label for="email">Correo electrónico:</label></td>
                            <td><input name="email" id="email" style="width: 250px" class="required email"/></td>
                        </tr>
                        <tr>
							<td><a href="userLogin.do" id="cancel-link">Cancelar</a></td>
                            <td><input type="image" value="Aceptar" src="images/Base/aceptar.png" id="accept-button" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>