<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Reportes Generales - BUG-MANAGER</title>
        <link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
        <script type="text/javascript" src="./js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="./js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="./js/localization/messages_es.js"></script>
        <script type="text/javascript" src="./js/FusionCharts.js"></script>
        <script type="text/javascript">
                function goToUrl(url)
                {
                   window.location = url;
                }
        </script>
        </head>
    <body>
        <div id="header">
            <img src="images/Login/bm-logo.png"  alt="BM logo" id="base-bmlogo"/>
            <div id="base-header-text">
				Hoy es $dateLong.format($date.systemDate)<br/>
				Bienvenido, ${user.fullName}<br/>
                <a href='userLogin.do?op=logout'>Salir</a>
            </div>
            <div id="base-menu-bar">
                <ul id="nav-bar">
                    <li><a href="listProjects.do">Proyectos</a></li>
                    <li><a href="listReports.do">Reportes</a></li>
                    #if($user.administrator)
                    <li><a href="listUsers.do">Usuarios</a></li>
                    #end
                    <li><a href="listTemplates.do">Plantillas</a></li>
                    <li><a href="listDefectTypes.do">Tipos de defectos</a></li>
                </ul>
            </div>
        </div>        
        <div id="content">
            <div id="content-header">                
                    <h3 id="form-title">Resumen General del Proyecto ${projectName}</h3>
                    <table id="content-table">
                        <tr>
                            <th></th>
                            <th colspan="2">Defectos</th>
                            <th></th>
                            <th>Velocidad</th>
                            <th>Tiempo</th>
                            <th>Eficiencia</th>
                            <th>Efectividad Relativa</th>
                            <th>Costo</th>
                            <th>Costo</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Inyectados</th>
                            <th>Detectados</th>
                            <th>Yield</th>
                            <th>Revisión</th>
                            <th>Fase</th>
                            <th>Defectos removidos</th>
                            <th>Defectos removidos</th>
                            <th>Evaluación</th>
                            <th>Fallas</th>
                            <th>A/FR</th>
                        </tr>
                        <tr>
                            <th>FASE</th>
                            <th></th>
                            <th></th>
                            <th>% Efectividad</th>
                            <th>LOC/hr</th>
                            <th></th>
                            <th>Remv/hr</th>
                            <th>EDR Fase/EDR Pruebas</th>
                            <th></th>
                            <th></th>
                            <th>Approx:2</th>
                        </tr>
                        #foreach($s in $summary)
                        <tr align="center">
                            <td>${s.phase}</td>
                            <td>${s.inyectedDefects}</td>
                            <td>${s.removedDefects}</td>
                            <td>${s.yield}</td>
                            <td>${s.speed}</td>
                            <td>${s.time}</td>
                            <td>${s.defectEfficiency}</td>
                            <td>${s.defectLeverage}</td>
                            <td>${s.appraisalCost}</td>
                            <td>${s.failureCost}</td>
                            <td>${s.afr}</td>
                        </tr>
                        #end
                    </table>
            </div>
            <div id="content-header-2">
                    <table id="content-table">
                        <tr>
                            <th>Densidad de Defectos:</th>
                            <td>${defectSummary.density}</td>
                        </tr>
                        <tr>
                            <th>Total de defectos:</th>
                            <td>${defectSummary.defects}</td>
                        </tr>
                        <tr>
                            <th>LOC:</th>
                            <td>${defectSummary.LOC}</td>
                        </tr>
                    </table>                
            </div>
        </div>
        <div id="text-content">
            <p>$text</p>
        </div>
    </body>
</html>