<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Login - All In Time System</title>
        <link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
        <style type="text/css">
        #modalContainer {
 background-color:transparent;
 position:absolute;
 width:100%;
 height:100%;
 top:0px;
 left:0px;
 z-index:10000;
 background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
 position:relative;
 width:600px;
 min-height:480px;
 margin-top:50px;
 border:2px solid #000;
 background-color:#F2F5F6;
 background-image:url(alert.png);
 background-repeat:no-repeat;
 background-position:20px 30px;
}

#modalContainer > #alertBox {
 position:fixed;
}

#alertBox h1 {
 margin:0;
 font:bold 0.9em verdana,arial;
 background-color:#78919B;
 color:#FFF;
 border-bottom:1px solid #000;
 padding:2px 0 2px 5px;
}

#alertBox p {
 font:0.7em verdana,arial;
 padding-left:5px;
 margin-left:55px;
}

#alertBox #closeBtn {
 display:block;
 position:relative;
 margin:5px auto;
 padding:3px;
 border:2px solid #000;
 width:70px;
 font:0.7em verdana,arial;
 text-transform:uppercase;
 text-align:center;
 color:#FFF;
 background-color:#78919B;
 text-decoration:none;
}

/* unrelated styles */

#mContainer {
 position:relative;
 width:600px;
 margin:auto;
 padding:5px;
 border-top:2px solid #000;
 border-bottom:2px solid #000;
 font:0.7em verdana,arial;
}

h1,h2 {
 margin:0;
 padding:4px;
 font:bold 1.5em verdana;
 border-bottom:1px solid #000;
}

code {
 font-size:1.2em;
 color:#069;
}

#credits {
 position:relative;
 margin:25px auto 0px auto;
 width:350px;
 font:0.7em verdana;
 border-top:1px solid #000;
 border-bottom:1px solid #000;
 height:90px;
 padding-top:4px;
}

#credits img {
 float:left;
 margin:5px 10px 5px 0px;
 border:1px solid #000000;
 width:80px;
 height:79px;
}

.important {
 background-color:#F5FCC8;
 padding:2px;
}

code span {
 color:green;
}

        </style>
        <script type="text/javascript">
var ALERT_TITLE = "Créditos";
var ALERT_BUTTON_TEXT = "Ok";

if(document.getElementById) {
 window.alert = function(txt) {
 createCustomAlert(txt);
 }
}

function createCustomAlert(txt) {
 d = document;

 if(d.getElementById("modalContainer")) return;

 mObj = d.getElementsByTagName("body")[0].appendChild(d.createElement("div"));
 mObj.id = "modalContainer";
 mObj.style.height = d.documentElement.scrollHeight + "px";

 alertObj = mObj.appendChild(d.createElement("div"));
 alertObj.id = "alertBox";
 if(d.all && !window.opera) alertObj.style.top = document.documentElement.scrollTop + "px";
 alertObj.style.left = (d.documentElement.scrollWidth - alertObj.offsetWidth)/2 + "px";
 alertObj.style.visiblity="visible";

 h1 = alertObj.appendChild(d.createElement("h1"));
 h1.appendChild(d.createTextNode(ALERT_TITLE));

 msg = alertObj.appendChild(d.createElement("p"));
 msg.innerHTML = txt;

 btn = alertObj.appendChild(d.createElement("a"));
 btn.id = "closeBtn";
 btn.appendChild(d.createTextNode(ALERT_BUTTON_TEXT));
 btn.href = "#";
 btn.focus();
 btn.onclick = function() { removeCustomAlert();return false; }

 alertObj.style.display = "block";

}

function removeCustomAlert() {
 document.getElementsByTagName("body")[0].removeChild(document.getElementById("modalContainer"));
}

function showCredits() {
	alert('<img src="images/equipo-aits.jpg" width="480" height="254" style="border: 1px solid black; spacing: 2px"/><div style="width: 460px">Desarrollado dentro de la clase de Administración de Desarrollo de Software de la Maestría de Ciencias Computacionales del ITESM Campus Guadalajara, impartida por el profesor Dr. Oscar Mondragón:</div><ul><li>Gisela Sánchez<li>Natalia Zárate<li>Alejandro Vazquez<li>Eduardo Campos<li>Humberto García<li>Marco Rangel<li>Juan Pablo Andrade<li>Fernando Manzano<li>Arturo Inzunza</ul>');
        }
</script>

    </head>
    <body>
        <div id="header">
            <img src="images/Login/bm-logo.png"  alt="BM logo" id="login-bmlogo"/>
        </div>
        <div id="page">
            <div id="content"> <!--AQUI METER TODOS LOS INPUT, LABELS etc-->
                <div id="login-content">
                    #if($loginMessage)
                    <div id="login-error">
                        $esc.xml($loginMessage)
                    </div>
                    #end
                    <span id="login-description">Ingrese su usuario y contraseña para continuar</span>
                    <form action="userLogin.do" method="POST">
                        <table id="login-fieldset">
                            <tr>
                                <td>
                                    <label for ="username" id="user">Usuario:</label>
                                </td>
                                <td>
                                    <input name="username" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for ="password">Contraseña:</label>
                                </td>
                                <td>
                                    <input name="password" type="password" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="center">
                                    <a href="requestNewPassword.do" id="login-forgotLink">¿Olvidaste tu contraseña?</a>
                                </td>
                            </tr>
                        </table>
                        <input type="image" value="Entrar" src="images/Login/ingresar.png" id="login-button" />
                    </form>
                    <input type="button" value="Creditos" onClick="showCredits();"></input>
                </div>
            </div>
        </div>
    </body>
</html>