<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Ver/Modificar tarea - All In Time System</title>
        <link rel="stylesheet" href="CSS/Style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="CSS/redmond/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" />
        <script type="text/javascript" src="./js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="./js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="./js/localization/messages_es.js"></script>
        <script type="text/javascript" src="./js/jquery-ui-1.8.5.custom.min.js"></script>
        <script type="text/javascript" src="./js/localization/jquery.ui.datepicker-es.js"></script>
        <script>
                function goToUrl(url)
                {
                        window.location = url;
                }

                $(document).ready(function(){
                    $("#task-modify-form").validate({
                            rules: {
                                    estimatedHours: {
                                            min:0
                                    },
                                    investedHours: {
                                            range: [0,24]
                                    },
                                    remainingHours: {
                                            min:0
                                    }
                            }
                    });

                 $("#task-modify-form").submit(function() {
                   if ($("#status").val() == "NOT_STARTED" && $("#investedHours").val() == 0 && $("#remainingHours").val() == 0) {
                      alert("La tarea no puede modificarse, el esfuerzo agregado y el restante no pueden ser igual a 0.");
                      return false;
                   }
                   if ($("#remainingHours").val() <= 0) {
                    if (confirm("Esta tarea será marcada como completada, porque el esfuerzo restante es 0")) {
                      return true;
                    }
                    else {
                      return false;
                    }
                   }
                 });
                });
        </script>
		<script type="text/javascript" src="./js/bm.tasks.js"></script>
    </head>
    <body>
        <div id="header">
            <img src="images/Login/bm-logo.png"  alt="BM logo" id="base-bmlogo"/>
            <div id="base-header-text">
				Hoy es $dateLong.format($date.systemDate)<br/>
				Bienvenido, ${user.fullName}<br/>
                <a href='userLogin.do?op=logout'>Salir</a>
            </div>
            <div id="base-menu">
                <div id="base-menu-bar">
                    <img src="images/Base/Menu1.png" id="base-menu-left" />
                    <div id="base-menu-center">
                        <ul>
                            <li class='ProyectosVisitando' onclick="goToUrl('listProjects.do')" >
                            </li>
                            <li class='Reportes' onclick="goToUrl('listReports.do')" >
                            </li>
                            #if($user.administrator)
                            <li class='Usuarios' onclick="goToUrl('listUsers.do')" >
                            </li>
                            #end
                        </ul>
                    </div>
                    <img src="images/Base/Menu3.png" id="base-menu-right" />
                </div>
            </div>
        </div>
        <div id="content"> <!--AQUI METER TODOS LOS INPUT, LABELS etc-->
            <div id="phase">
                <form action="viewPhase.do?project_id=${project_id}&phase_id=${phase_id}" method="POST" id="phase-modify-form">
                    <h3 id="form-title">Ver/Modificar Fase</h3>
                    <table id="task-modify">
                        <tr>
                            <td>
                                <label for ="phaseName" id="phaseNameLabel">Nombre:</label>
                            </td>
                            <td>
                                #if($user.permissions >= 20)
                                <input type="text" name="phaseName" id="phaseName" class="required" value="${phase.phaseName}"/>
                                #else
				<span>${phase.phaseName}</span>
				<input type="hidden" value="${phase.phaseName}" name="phaseName" id="phaseName"  />
                                #end
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for ="phaseDesc" id="phaseDescLabel">Descripci&oacute;n:</label>
                            </td>
                            <td>
                                #if($user.permissions >= 20)
                                <textarea cols="30" rows="6" name="phaseDesc" id="phaseDesc">${phase.phaseDesc}</textarea>
                                #else
				<span>${task.description}</span>
				<input type="hidden" value="${phase.phaseDesc}" name="phaseDesc" id="phaseDesc"  />
                                #end
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for ="phaseType" id="phaseTypeLabel">Tipo:</label>
                            </td>
                            <td>
                                #if($user.permissions >= 20)
                                <select name="phaseType" id="phaseType" class="required">
                                    <option value="${phase.phaseType}" selected="selected">${phase.phaseType}</option>
                                    #foreach($type in $phaseTypes)
                                        #if($type != $phase.phaseType)
                                        <option value="${type}">${type}</option>
                                        #end
                                    #end
                                </select>
                                #else
                                <span>${phase.phaseType}</span>
				<input type="hidden" value="${phase.phaseType}" name="phaseType" id="phaseType"  />
                                #end
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for ="phaseOrder" id="phaseOrderLabel">Después de:</label>
                            </td>
                            <td>
                                #if($user.permissions >= 20)
                                <select name="phaseOrder" id="phaseOrder">
                                    <option value="${phase.projectOrder}" selected="selected">NO CAMBIAR ORDEN</option>
                                    <option value="1"></option>
                                    #foreach($p in $phases)
                                        #if($phase.projectOrder != $p.projectOrder)
                                        <option value="${p.projectOrder}">${p.phaseName}</option>
                                        #end
                                    #end
                                </select>
                                #else
                                <span>${phase.projectOrder}</span>
				<input type="hidden" value="${phase.projectOrder}" name="phaseOrder" id="phaseOrder"/>
                                #end
                            </td>
                        </tr>
                        <tr>
                            <td><a href="listPhases.do?project_id=${project_id}" id="cancel-link">Cancelar</a></td>
                            <td>
                                #if($user.permissions >= 20)
                                <input type="image" value="Aceptar" src="images/Base/aceptar.png" id="accept-button" />
                                #end
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>