<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#* ***************************************************************************
 *   Copyright (c) 2010 BIPOLAR
 *   Confidential and Proprietary
 *   All Rights Reserved
 *
 * @(#)$Id: linkTemplate.vm 197 2010-10-09 20:07:05Z alex.vc@gmail.com $
 * Last Revised By   : $Author: alex.vc@gmail.com $
 * Last Checked In   : $Date: 2010-10-09 15:07:05 -0500 (Sat, 09 Oct 2010) $
 * Last Version      : $Revision: 197 $
 *
 * Original Author   : Alejandro Vazquez
 * Notes             :
 * ***************************************************************************
*#<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$esc.xml($mailSubject)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div>Alguien (muy probablemente tú) ha solicitado la recuperación de la
            contraseña para la siguiente cuenta</div>
        <table border="0" cellpadding="2" cellspacing="0">
            <tr>
                <td align="right">Cuenta:</td>
                <td><span style="font-weight: bold">$esc.xml($user.userName)</span></td>
            </tr>
            <tr>
                <td align="right">Nombre completo:</td>
                <td><span style="font-weight: bold">$esc.xml($user.fullName)</span></td>
            </tr>
            <tr>
                <td align="right">Email:</td>
                <td><span style="font-weight: bold">$esc.xml($user.email)</span></td>
            </tr>
        </table>
        <div>En caso de sí hayas solicitado dicho cambio, debes seguir el
            siguiente link dentro de las siguientes 24 horas:</div>#set($url = $hostContextPath + "/newPassword.do?ticket=" + $user.passwordRecoveryTicket)
        <div><a href="$esc.xml($url)">$esc.xml($url)</a></div>
        <div>En caso de no haber sido tú quien solicitara el cambio, debes hacer
            caso omiso a este correo.</div>
    </body>
</html>